.loader {
  font-size: 5rem;
  font-family: HKGroteskWide;
  color: var(--theme-color);
  will-change: opacity;
  width: 100vw;
  height: 100svh;
  background: black;
  user-select: none;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  position: fixed;

  .wrapper {
    display: block;
    overflow: hidden;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    width: 100%;
    text-align: center;

    .title {
      font-weight: 700;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      font-size: 16vw;
      visibility: hidden;
    }
    .loading {
      text-align: center;
      color: white;
      font-size: 5rem;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }

  @media screen and (width <= 800px) {
    font-size: 3rem;
  }
}
